.container {
  background-color: #1f2b48;
  width: 475px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}
.searchIcon {
  color: #0079fb;
  font-size: 20px;
  padding: 5px;
}
.searctForm {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.searchInput {
  width: 100%;
  /* flex: 3; */
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1f2b48;
  color: white;
}
.searchInput::placeholder {
  color: white;
  margin-left: 10px;
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  border-radius: 10px;
  background-color: #0079fb;
  border: none;
  width: 80px;
  margin-top: 2px;
  margin-left: 5px;
  padding: 5px;
  color: white;
  height: 30px;
  cursor: pointer;
}
